<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Salut Ambiental</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="static/css/style.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="static/css/coin-slider.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="shortcut icon" href="static/images/salut.ico" />
<script type="text/javascript" src="static/js/cufon-yui.js"></script>
<script type="text/javascript" src="static/js/cufon-titillium-250.js"></script>
<script type="text/javascript" src="static/js/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="static/js/script.js"></script>
<script type="text/javascript" src="static/js/coin-slider.min.js"></script>
</head>
<body>
<div class="main background">
  <div class="header">
    <div class="header_resize">
          <div class="container">
              <div class="drop-menu">
                <div class="select">
                  <span>Català</span>
                  <i class="fa fa-chevron-down"></i>
                </div>
                <input type="hidden" name="gender">
                <ul class="dropeddown">
                  <li id="catala">Català</li>
                  <li id="castellano">Castellano</li>
                </ul>
              </div>
        </div>
        <div class="logo">
          <a href="/inici"><img src="static/images/logo.png"></a> <p>Serveis de gestió sanitària i ambiental</p>
        </div>

        <div class="clr"></div>
        <div class="menu_nav">
          <ul>
            <li><a href="inici"><span>Inici</span></a></li>
            <li><a href="qui_som"><span>Qui Som</span></a></li>
            <li><a href="que_fem"><span>Que fem</span></a></li>
            <li><a href="acces"><span>Accés</span></a></li>
            <li class="active"><a href="contacte"><span>Contacte</span></a></li>
          </ul>
        </div>
      <div class="clr"></div>
      <div class="clr"></div>
    </div>
  </div>
  <div class="content">
    <div class="content_resize">
      <div class="mainbar">
         <div class="article" style="width:100%">
          <h2><span style="margin-top:20px";>Contacto</span></h2>
          <div class="clr"></div>
          <iframe style="display:block;float:left;margin-top:40px" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2974.7918071782374!2d2.221757451437553!3d41.78970027912728!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12a4db881ba804bb%3A0x5063c464955904ba!2sCarrer+Purgatori%2C+12%2C+08540+Centelles%2C+Barcelona!5e0!3m2!1ses!2ses!4v1500385492829" width="60%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
          <blockquote style="width:30%; margin-top:30px; display:block; float:right; font-size:2em">
            <p><strong>Salut Ambiental S.C.P.</strong></p>
            <p>C/Purgatori, 12 - P.I. La Gavarras<br> 08540 Centelles<br> Telèfon i fax: 93 881 37 60</p>
            <p><span style="font-size: medium;">E-mail: <span id="cloak95641"><a href="mailto:info@salutambiental.cat"><span class="text1">info@salutambiental.cat</span></a></span>
            <p>&nbsp;</p>
            </blockquote>

        </div>
      </div>

      <div class="clr"></div>
    </div>
  </div>
  <div class="footer">
    <div class="footer_resize">
      <p style="text-algin:center"> Salut Ambiental, S.C.P. | C/Purgatori, 12 - P.I. La Gavarra | 08450 CENTELLES | Tel/fax: 93 881 37 60 | <a href="mailto:info@salutambiental.cat">info@salutambiental.cat</a></p>
      <div style="clear:both;"></div>
    </div>
  </div>
</div>
</body>
</html>
