<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Salut Ambiental</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="static/css/style.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="static/css/coin-slider.css" />
<script type="text/javascript" src="static/js/cufon-yui.js"></script>
<script type="text/javascript" src="static/js/cufon-titillium-250.js"></script>
<script type="text/javascript" src="static/js/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="static/js/script.js"></script>
<script type="text/javascript" src="static/js/coin-slider.min.js"></script>
</head>
<body>
<div class="main background">
  <div class="header">
    <div class="header_resize">
      <div class="logo">
        <a href="index.html"><img src="static/images/logo.png"></a> <p>Serveis de gestió sanitària i ambiental</p>
      </div>
      <div class="clr"></div>
      <div class="menu_nav">
        <ul>
          <li><a href="/"><span>Inici</span></a></li>
          <li><a href="qui_som"><span>Qui Som</span></a></li>
          <li><a href="que_fem"><span>Que fem</span></a></li>
          <li><a href="acces"><span>Accés</span></a></li>
          <li class="active"><a href="contacte"><span>Contacte</span></a></li>
        </ul>
      </div>
      <div class="clr"></div>
      <div class="clr"></div>
    </div>
  </div>
  <div class="content">
    <div class="content_resize">
      <div class="mainbar">
        <div class="article">
          <h2><span>Contacte</span></h2>
          <div class="clr"></div>
          <blockquote style="margin-top:30px">
            <p><strong>Salut Ambiental S.C.P.</strong></p>
            <p>Mare de Déu de Montserrat, 2 baixos<br> 08540 Centelles<br> Telèfon i fax: 93 881 37 60</p>
            <p><span style="font-size: medium;">E-mail: <span id="cloak95641"><a href="mailto:info@salutambiental.cat"><span class="text1">info@salutambiental.cat</span></a></span><script type="text/javascript">
             //<!--
             document.getElementById('cloak95641').innerHTML = '';
             var prefix = 'ma' + 'il' + 'to';
             var path = 'hr' + 'ef' + '=';
             var addy95641 = 'info' + '@';
             addy95641 = addy95641 + 'salutambiental' + '.' + 'cat';
             var addy_text95641 = '<span class="text1">info' + '@' + 'salutambiental' + '.' + 'cat</span>';
             document.getElementById('cloak95641').innerHTML += '<a ' + path + '\'' + prefix + ':' + addy95641 + '\'>'+addy_text95641+'<\/a>';
             //-->
             </script></span></p>
            <p>&nbsp;</p>
            </blockquote>
                  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2974.498607186715!2d2.2180724512120458!3d41.79601817842347!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12a4dc745c79548b%3A0x7053474d427783eb!2sCarrer+de+la+Mare+de+D%C3%A9u+de+Montserrat%2C+2%2C+08540+Centelles%2C+Barcelona!5e0!3m2!1ses!2ses!4v1497892779607" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
      </div>

      <div class="clr"></div>
    </div>
  </div>
  <div class="fbg">
    <div class="fbg_resize">
      <div class="col c1">
        <h2><span>Image</span> Gallery</h2>
        <a href="#"><img src="static/images/gal1.jpg" width="75" height="75" alt="" class="gal" /></a> <a href="#"><img src="static/images/gal2.jpg" width="75" height="75" alt="" class="gal" /></a> <a href="#"><img src="static/images/gal3.jpg" width="75" height="75" alt="" class="gal" /></a> <a href="#"><img src="static/images/gal4.jpg" width="75" height="75" alt="" class="gal" /></a> <a href="#"><img src="static/images/gal5.jpg" width="75" height="75" alt="" class="gal" /></a> <a href="#"><img src="static/images/gal6.jpg" width="75" height="75" alt="" class="gal" /></a> </div>
      <div class="col c2">
        <h2><span>Services</span> Overview</h2>
        <p>Curabitur sed urna id nunc pulvinar semper. Nunc sit amet tortor sit amet lacus sagittis posuere cursus vitae nunc.Etiam venenatis, turpis at eleifend porta, nisl nulla bibendum justo.</p>
        <ul class="fbg_ul">
          <li><a href="#">Lorem ipsum dolor labore et dolore.</a></li>
          <li><a href="#">Excepteur officia deserunt.</a></li>
          <li><a href="#">Integer tellus ipsum tempor sed.</a></li>
        </ul>
      </div>
      <div class="col c3">
        <h2><span>Contact</span> Us</h2>
        <p>Nullam quam lorem, tristique non vestibulum nec, consectetur in risus. Aliquam a quam vel leo gravida gravida eu porttitor dui.</p>
        <p class="contact_info"> <span>Address:</span> 1458 TemplateAccess, USA<br />
          <span>Telephone:</span> +123-1234-5678<br />
          <span>FAX:</span> +458-4578<br />
          <span>Others:</span> +301 - 0125 - 01258<br />
          <span>E-mail:</span> <a href="#">mail@yoursitename.com</a> </p>
      </div>
      <div class="clr"></div>
    </div>
  </div>
  <div class="footer">
    <div class="footer_resize">
      <p class="lf">Copyright &copy; <a href="#">salutambiental.cat</a>. All Rights Reserved</p>
      <div style="clear:both;"></div>
    </div>
  </div>
</div>
</body>
</html>
