<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Salut Ambiental</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="shortcut icon" href="static/images/salut.ico" />
<link href="static/css/style.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="static/css/coin-slider.css" />
<script type="text/javascript" src="static/js/cufon-yui.js"></script>
<script type="text/javascript" src="static/js/cufon-titillium-250.js"></script>
<script type="text/javascript" src="static/js/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="static/js/script.js"></script>
<script type="text/javascript" src="static/js/coin-slider.min.js"></script>
</head>
<body>
<div class="main">
  <div class="header">
    <div class="header_resize">
      <div class="container">     
            <div class="drop-menu">
              <div class="select">
                <span>Castellano</span>
                <i class="fa fa-chevron-down"></i>
              </div>
              <input type="hidden" name="gender">
              <ul class="dropeddown">
                <li id="catala">Català</li>
                <li id="castellano">Castellano</li>
              </ul>
            </div>
      </div>
      <div class="logo">
       <a href="/inicio"><img src="static/images/logo.png"></a> <p>Servicios de gestión sanitaria y ambiental</p>
      </div>

      <div class="clr"></div>
      <div class="menu_nav">
        <ul>
          <li class="active"><a href="inicio"><span>Inicio</span></a></li>
          <li><a href="quienes_somos"><span>Quienes somos</span></a></li>
          <li><a href="que_hacemos"><span>Que hacemos</span></a></li>
          <li><a href="acceso"><span>Acceso</span></a></li>
          <li><a href="contacto"><span>Contacto</span></a></li>
        </ul>
      </div>
      <div class="clr"></div>
      <div class="slider">
        <div id="coin-slider"> <a href="#"><img src="static/images/index_img/slide1.jpg" width="960" height="450" alt="" /></a> <a href="#"><img src="static/images/index_img/slide2.jpg" width="960" height="450" alt="" /><a href="#"><img src="static/images/index_img/slide3.jpg" width="960" height="450" alt="" /></a><a href="#"><img src="static/images/index_img/slide4.jpg" width="960" height="450" alt="" /></a> <a href="#"><img src="static/images/index_img/slide5.jpg" width="960" height="450" alt="" /></a><a href="#"><img src="static/images/index_img/slide6.jpg" width="960" height="450" alt="" /></a></div>
        <div class="clr"></div>
      </div>
    </div>
  </div>
  <div class="content">
    <div class="content_resize">
          <p class="index-info"> SERVICIOS DE GESTIÓN SANITARIA | CONTROL DE PLAGAS | SERVICIOS DE GESTIÓN AMBIENTAL </p>
          <p class="index-info-sub">Arco de desinfección | Control de moscas | control de Mosquitos | Formisec | Iglu</p>
    </div>
  </div>
</div>
  <div class="footer">
    <div class="footer_resize">
      <p style="text-algin:center"> Salut Ambiental, S.C.P. | C/Purgatori, 12 - P.I. La Gavarra | 08450 CENTELLES | Tel/fax: 93 881 37 60 | <a href="mailto:info@salutambiental.cat">info@salutambiental.cat</a></p>
      <div style="clear:both;"></div>
    </div>
  </div>
</body>
</html>
