{% extends 'admin/base.html' %}
{% block head %}
<link rel="stylesheet" type="text/css" href="/static/css/custom-admin.css">
{% endblock head %}
{% block brand %}
    <img src="/static/img/salut-logo.png" style="height:50px; width:auto">
{% endblock brand %}
{% block access_control %}
{% if current_user.is_authenticated %}
<div class="btn-group pull-right">
    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
        <i class="icon-user"></i> {{ current_user.email }} <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
        <li><a href="{{ url_for('admin.logout_view') }}">Log out</a></li>
    </ul>
</div>
{% endif %}
{% endblock %}