<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Salut Ambiental</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="static/css/style.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="static/css/coin-slider.css"/>
<link rel="shortcut icon" href="static/images/salut.ico" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script type="text/javascript" src="static/js/cufon-yui.js"></script>
<script type="text/javascript" src="static/js/cufon-titillium-250.js"></script>
<script type="text/javascript" src="static/js/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="static/js/script.js"></script>
<script type="text/javascript" src="static/js/coin-slider.min.js"></script>
</head>
<body>
<div class="main background">
  <div class="header">
    <div class="header_resize">
      <div class="container">

      <div class="drop-menu">
          <div class="select">
            <span>Català</span>
            <i class="fa fa-chevron-down"></i>
          </div>
          <input type="hidden" name="gender">
          <ul class="dropeddown">
            <li id="catala">Català</li>
            <li id="castellano">Castellano</li>
          </ul>
        </div>
     </div>
  <div class="logo">
    <a href="/inici"><img src="static/images/logo.png"></a> <p>Serveis de gestió sanitària i ambiental</p>
  </div>

  <div class="clr"></div>
  <div class="menu_nav">
    <ul>
      <li><a href="inici"><span>Inici</span></a></li>
      <li><a href="qui_som"><span>Qui Som</span></a></li>
      <li class="active"><a href="que_fem"><span>Que fem</span></a></li>
      <li><a href="acces"><span>Accés</span></a></li>
      <li><a href="contacte"><span>Contacte</span></a></li>
    </ul>
  </div>
  <div class="content">
    <div class="content_resize">
      <div class="mainbar">
        <div class="article" style="margin-top:20px; border:1px solid; border-color:#dad6d1; border-radius:6px; padding:20px">
          <h2 style="color:#fc6400; margin-bottom:10px"><i class="fa fa-bug" style="font-size:24px;color:red"></i> Control de plagues</h2>
          <h2 style="font-size:1.9em; line-height: 20px">Assessorament i tractaments de control de plagues aplicant el control integrat.</h2>
          <div class="clr"></div>
          <p style="margin-top:20px">La <b>Lluita Integrada</b> es basa en la utilització de diferents mitjans per a aconseguir el control dels organismes no desitjats, no sempre basant-se en la lluita química tradicional. Cada possible organisme requereix unes condicions, periodicitats i metodologies de treball específiques.</p>
          <p>Aquest tipus de tractament prioritza la minimització de la utilització de productes químics a favor de tractaments de caire físic i biològic, però sobre tot afavorint el control dels punts crítics, i les mesures correctores per a que aquests punts crítics no esdevinguin punts problemàtics.</p>
          <p><strong>La nostra metodologia de treball és la següent:</strong></p>
          <ol>
          <li><b>Anàlisi de Punts Crítics de Control</b> aplicat als tractaments  de control d’organismes no desitjats,  per a establir les mesures de control concretes per a cadascun dels organismes a controlar.</li>
          <li><b>Programa i protocol de treball</b> per a que tothom que hi estigui interessat pugui conèixer els tractaments, com i qui els ha de realitzar, i la periodicitat d’aquests.</li>
          <li><b>Aplicació dels tractaments específics</b> per a cada tipus d’organisme.</li>
          <li><b>Auditoria/comprovació i monitorització</b> del funcionament dels sistemes de control i de les mesures correctores.</li>
          </ol>
          <div id="productes-plagues" class="productes"><span> Els nostres productes </span> </div>
        </div>
        <div class="article" style="margin-top:20px; border:1px solid; border-color:#dad6d1; border-radius:6px; padding:20px">
          <h2 style="color:#fc6400"><i class="fa fa-shower" style="font-size:24px;color:#2360b1"></i> Plans de neteja i desinfecció</h2>
           <h2 style="font-size:1.9em; line-height: 20px">Assessoria en qüestions sanitàries generals com pot ser l’elaboració de plans de neteja i desinfecció, el seguiment i monitorització d’aquests.</h2>
        <div id="productes-neteja" class="productes"><span> Els nostres productes </span> </div>
        </div>
        <div class="article" style="margin-top:20px; border:1px solid; border-color:#dad6d1; border-radius:6px; padding:20px!important; width:96%; padding-bottom:30px;">
           <h2 style="color:#fc6400"><i class="fa fa-mortar-board" style="font-size:24px;color:#080807"></i> Formació per a treballadors</h2>
        </div>
        <div class="article" style="margin-top:20px; border:1px solid; border-color:#dad6d1; border-radius:6px; padding:20px!important; width:96%; padding-bottom:30px">
           <h2 style="color:#fc6400"><i class="fa fa-institution" style="font-size:24px;color:#757575"></i> Assessoria i gestió en tràmits amb l’Administració</h2>
        </div>
      </div>
      <div class="clr"></div>
    </div>
  </div>
</div>
  <div class="footer">
    <div class="footer_resize">
      <p style="text-algin:center"> Salut Ambiental, S.C.P. | C/Purgatori, 12 - P.I. La Gavarra | 08450 CENTELLES | Tel/fax: 93 881 37 60 | <a href="mailto:info@salutambiental.cat">info@salutambiental.cat</a></p>
      <div style="clear:both;"></div>
    </div>
  </div>

<!-- PRODUCTES MODAL -->

  <div id="modalProductesPlagues" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
      <div class="modal-header">
      <img src="static/images/sa-trans.png"/>
      <span>Control de plagues - Productes</span>
      <span class="close" style="margin-left:0px!important">&times;</span>
      </div>
      <div class="modal-body">
          <div class="article" style="margin-top:20px; background-color:#f5f5f5; padding:20px">
          <h2 style="color:#fc6400; margin-bottom:10px"> Control de mosquits</h2>
          <p> Lluita biològica, basada en l’ utilització de soques d’un bateria, el bacillus turingensis,
          que, en llocs d’aigües netes, funciona com un larvicida eficaç amb un baix impacte
          ambiental.</p>
          <p>Lluita física, basada en trampes de llum que capturen les formes adultes atretes per la
          llum UV de la trampa.</p>
          <p>Lluita química, basada en l’aplicació de larvicida de tipus químic o insecticida adultícida.</p>

          <div class="img-art">
          <div><img style="margin-left:8px" src="static/images/que_img/iglu1.jpg"/></div>
          <div><img style="margin-left:8px" src="static/images/que_img/iglu2.jpg"/></div>
          <div><img style="margin-left:8px" src="static/images/que_img/iglu3.jpg"/></div>
          </div>
         </div>
          <div class="article" style="margin-top:20px; background-color:#f5f5f5; padding:20px">
          <h2 style="color:#fc6400; margin-bottom:10px;"> Control de mosques</h2>
          <p> La base del tractament rau en l’aplicació d’un parasit natural de les mosques, que parasita les pupes d’aquestes (la forma sota la que la mosca fa la metamorfosi de larva a mosca adulta) dipositant un ou a l’interior d’aquestes, de manera que la larva del parasitoid s’alimenta de la pupa parasitada, fent inviable el desenvolupament de la mosca i donant lloc a un altre parasit.</p>
          <div class="img-art">
          <div><img src="static/images/que_img/plagues1m.jpg"/></div>
          <div><img style="margin-left:8px" src="static/images/que_img/plagues2m.jpg"/></div>
          <div><img style="margin-left:8px" src="static/images/que_img/plagues3m.jpg"/></div>
          <div><img style="margin-left:8px" src="static/images/que_img/plagues4m.jpg"/></div>
          </div>
         </div>
          <div class="article" style="margin-top:20px; background-color:#f5f5f5; padding:20px">
          <h2 style="color:#fc6400; margin-bottom:10px"><i class="fa fa-dot-circle-o" style="font-size:24px;color:green"></i> IGLU</h2>
          <p> Trampa d’aigua d’exteriors per la captura de mosques</p>
          <div class="img-art">
          <div><img src="static/images/que_img/plagues1m.jpg"/></div>
          <div><img style="margin-left:8px" src="static/images/que_img/plagues2m.jpg"/></div>
          <div><img style="margin-left:8px" src="static/images/que_img/plagues3m.jpg"/></div>
          <div><img style="margin-left:8px" src="static/images/que_img/plagues4m.jpg"/></div>
          </div>
        </div>
      </div>
    </div>
  </div>

<!-- PRODUCTES MODAL -->

  <div id="modalProductesNeteja" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
      <div class="modal-header">
      <img src="static/images/sa-trans.png"/>
      <span>Plans de neteja i desinfecció - Productes</span>
      <span class="close" style="margin-left:0px!important">&times;</span>
      </div>
      <div class="modal-body">
          <div class="article" style="margin-top:20px; background-color:#f5f5f5; padding:20px">
          <h2 style="color:#fc6400; margin-bottom:10px">STERILTRUK<span style="line-height:20px; color:black"> -  Arc de desinfecció per a vehicles.</span></h2>
          <p> Sistema de desinfecció automàtic, de doble anell de tub zincat amb diàmetre d’1”, premuntat, equipat amb 20 aspersors de ventall per anell, amb polvorització fina, distribuïts en el perímetre de l’anell que te unes dimensions de 3570 mm de llarg per 4820 mm d’alt.</p>
          <div class="img-art">
          <div><img style="margin-left:8px" src="static/images/que_img/iglu1.jpg"/></div>
          <div><img style="margin-left:8px" src="static/images/que_img/iglu2.jpg"/></div>
          <div><img style="margin-left:8px" src="static/images/que_img/iglu3.jpg"/></div>
          </div>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- PRODUCTES MODAL -->



</body>
</html>
