<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Salut Ambiental</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="static/css/style.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="static/css/coin-slider.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script type="text/javascript" src="static/js/cufon-yui.js"></script>
<script type="text/javascript" src="static/js/cufon-titillium-250.js"></script>
<script type="text/javascript" src="static/js/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="static/js/script.js"></script>
<script type="text/javascript" src="static/js/coin-slider.min.js"></script>
</head>
<body>
<div class="main background">
  <div class="header">
    <div class="header_resize">
      <div class="logo">
        <a href="index.html"><img src="static/images/logo.png"></a> <p>Serveis de gestió sanitària i ambiental</p>
      </div>
      <div class="clr"></div>
      <div class="menu_nav">
        <ul>
          <li><a href="/"><span>Inici</span></a></li>
          <li><a href="qui_som"><span>Qui Som</span></a></li>
          <li class="active"><a href="que_fem"><span>Que fem</span></a></li>
          <li><a href="acces"><span>Accés</span></a></li>
          <li><a href="contacte"><span>Contacte</span></a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="content">
    <div class="content_resize">
      <div class="mainbar">
        <div class="article" style="margin-top:20px">
          <h2 style="color:#fc6400; margin-bottom:10px"><i class="fa fa-bug" style="font-size:24px;color:green"></i> Control de plagues.</h2>
          <h2 style="font-size:1.9em; line-height: 20px">Assessorament i tractaments de control de plagues aplicant el control integrat.</h2>
          <div class="clr"></div>
          <p style="margin-top:20px">La <b>Lluita Integrada</b> es basa en la utilització de diferents mitjans per a aconseguir el control dels organismes no desitjats, no sempre basant-se en la lluita química tradicional. Cada possible organisme requereix unes condicions, periodicitats i metodologies de treball específiques.</p>
          <div id="expand-plagues" style="display: none;">
          <p>Aquest tipus de tractament prioritza la minimització de la utilització de productes químics a favor de tractaments de caire físic i biològic, però sobre tot afavorint el control dels punts crítics, i les mesures correctores per a que aquests punts crítics no esdevinguin punts problemàtics.</p>
          <p><strong>La nostra metodologia de treball és la següent:</strong></p>
          <ol>
          <li><b>Anàlisi de Punts Crítics de Control</b> aplicat als tractaments  de control d’organismes no desitjats,  per a establir les mesures de control concretes per a cadascun dels organismes a controlar.</li>
          <li><b>Programa i protocol de treball</b> per a que tothom que hi estigui interessat pugui conèixer els tractaments, com i qui els ha de realitzar, i la periodicitat d’aquests.</li>
          <li><b>Aplicació dels tractaments específics</b> per a cada tipus d’organisme.</li>
          <li><b>Auditoria/comprovació i monitorització</b> del funcionament dels sistemes de control i de les mesures correctores.</li>
          </ol>
          </div>
          <p id="more">Següeix llegint</p>
        </div>
        <div class="article" style="margin-top:20px">
          <h2 style="color:#fc6400"><i class="fa fa-shower" style="font-size:24px;color:green"></i> Plans de neteja i desinfecció.</h2>
           <h2 style="font-size:1.9em; line-height: 20px">Assessoria en qüestions sanitàries generals com pot ser l’elaboració de plans de neteja i desinfecció, el seguiment i monitorització d’aquests.<h3>
        </div>
        <div class="article" style="margin-top:20px">
           <h2 style="color:#fc6400"><i class="fa fa-mortar-board" style="font-size:24px;color:green"></i> Formació per a treballadors.</h2>
        </div>
        <div class="article" style="margin-top:20px">
           <h2 style="color:#fc6400"><i class="fa fa-handshake-o" style="font-size:24px;color:green"></i> Assessoria i gestió en tràmits amb l’Administració.</h2>
        </div>
      </div>
      <div class="clr"></div>
    </div>
  </div>
</div>
  <div class="footer">
    <div class="footer_resize">
      <p style="text-algin:center"> Salut Ambiental, S.C.P. | C/Purgatori, 12 - P.I. La Gavarra | 08450 CENTELLES | Tel/fax: 93 881 37 60 | <a href="mailto:info@salutambiental.cat">info@salutambiental.cat</a></p>
      <div style="clear:both;"></div>
    </div>
  </div>
</body>
</html>
