<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Salut Ambiental</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="static/css/style.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="static/css/coin-slider.css"/>
<link rel="shortcut icon" href="static/images/salut.ico" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script type="text/javascript" src="static/js/cufon-yui.js"></script>
<script type="text/javascript" src="static/js/cufon-titillium-250.js"></script>
<script type="text/javascript" src="static/js/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="static/js/script.js"></script>
<script type="text/javascript" src="static/js/coin-slider.min.js"></script>
</head>
<body>
<div class="main background">
  <div class="header">
    <div class="header_resize">
      <div class="container">
      <div class="drop-menu">
       <div class="select">
         <span>Castellano</span>
         <i class="fa fa-chevron-down"></i>
       </div>
       <input type="hidden" name="gender">
       <ul class="dropeddown">
         <li id="catala">Català</li>
         <li id="castellano">Castellano</li>
       </ul>
     </div>
     </div>
    <span class="msg"></span>
  <div class="logo">
    <a href="/inicio"><img src="static/images/logo.png"></a> <p>Servicios de gestión sanitaria y ambiental</p>
  </div>

  <div class="clr"></div>
  <div class="menu_nav">
    <ul>
      <li><a href="inicio"><span>Inicio</span></a></li>
      <li><a href="quienes_somos"><span>Quiénes somos</span></a></li>
      <li class="active"><a href="que_hacemos"><span>Qué hacemos</span></a></li>
      <li><a href="acceso"><span>Acceso</span></a></li>
      <li><a href="contacto"><span>Contacto</span></a></li>
    </ul>
  </div>
  <div class="content">
    <div class="content_resize">
      <div class="mainbar">
        <div class="article" style="margin-top:20px; border:1px solid; border-color:#dad6d1; border-radius:6px; padding:20px">
          <h2 style="color:#fc6400; margin-bottom:10px"><i class="fa fa-bug" style="font-size:24px;color:red"></i> Control de plagues</h2>
          <h2 style="font-size:1.9em; line-height: 20px"> Asesoramiento y tratamiento en control de plagas aplicando el control integrado..</h2>
          <div class="clr"></div>
          <p style="margin-top:20px">La <b>Lucha Integrada</b> se basa en la utilización de distintos medios para conseguir el control de los organismos no deseados, basándose no siempre en la lucha química tradicional. Cada organismo requiere unas condiciones, periodicidades y metodologías de trabajo específicas.</p>
          <p>Este tipo de tratamiento prioriza la minimización del uso de productos químicos a favor de tratamientos de aspecto físico y biológico, pero sobretodo favoreciendo el control de los puntos críticos y las medidas correctoras para que estos puntos críticos no se conviertan en puntos problemáticos.</p>
          <p><strong>Nuestra metodología de trabajo es la siguiente:</strong></p>
          <ol>
          <li><b>Análisis de Puntos Críticos de Control</b></li>
          <li><b>Programa y protocolo de trabajo</b>.</li>
          <li><b>Aplicación de tratamientos específicos</b>.</li>
          <li><b>Auditoria/comprobación y monitoreo</b>.</li>
          </ol>
          <div id="productes-plagues" class="productes"><span> Nuestros productos </span> </div>
        </div>
        <div class="article" style="margin-top:20px; border:1px solid; border-color:#dad6d1; border-radius:6px; padding:20px">
          <h2 style="color:#fc6400"><i class="fa fa-shower" style="font-size:24px;color:#2360b1"></i> Plans de limpieza y desinfección </h2>
           <h2 style="font-size:1.9em; line-height: 20px"> Asesoría en cuestiones sanitarias generales como pueden ser la elaboración de planes de limpieza y desinfección, el seguimiento y el monitoreo de estos.</h2>
        <div id="productes-neteja" class="productes"><span> Nuestros productos </span> </div>
        </div>
        <div class="article" style="margin-top:20px; border:1px solid; border-color:#dad6d1; border-radius:6px; padding:20px!important; width:96%; padding-bottom:30px;">
           <h2 style="color:#fc6400"><i class="fa fa-mortar-board" style="font-size:24px;color:#080807"></i> Formación para trabajadores</h2>
        </div>
        <div class="article" style="margin-top:20px; border:1px solid; border-color:#dad6d1; border-radius:6px; padding:20px!important; width:96%; padding-bottom:30px">
           <h2 style="color:#fc6400"><i class="fa fa-institution" style="font-size:24px;color:#757575"></i> Asesoría y gestión en trámites con la Administración</h2>
        </div>
      </div>
      <div class="clr"></div>
    </div>
  </div>
</div>
  <div class="footer">
    <div class="footer_resize">
      <p style="text-algin:center"> Salut Ambiental, S.C.P. | C/Purgatori, 12 - P.I. La Gavarra | 08450 CENTELLES | Tel/fax: 93 881 37 60 | <a href="mailto:info@salutambiental.cat">info@salutambiental.cat</a></p>
      <div style="clear:both;"></div>
    </div>
  </div>


<!-- PRODUCTES MODAL -->

  <div id="modalProductesPlagues" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
      <div class="modal-header">
      <span style="position:relative;left:20px"><i class="fa fa-bug"></i> Control de plagues - Serveis</span>
      <span class="close" style="position:relative;left:20px">&times;</span>
      </div>
      <div class="modal-body">
          <div class="article" style="margin-top:20px; background-color:#f5f5f5; padding:15px 30px 15px 30px!important;">
          <h2 style="color:#fc6400; margin-bottom:10px"> Control de mosquitos</h2>
          <ul style="margin-left:20px;font-size:1.2em">
          <li> <b>Lucha biológica</b>, basada en el uso de productos provenientes de cepas de la bacteria Bacillus turingensis, que en zonas de aguas limpias, funciona como larvicida eficaz de bajo impacto ambiental.</li>
          <li><b>Lucha física</b>, basada en trampas de luz que capturan las formas adultas atraídas por la luz UV de la trampa.</li>
          <li><b>Lucha química</b>, basada en la aplicación de larvicida de tipo químico o insecticida adulticida.</li>
          </ul>
          <div class="img-art">
          <div><img style="margin-left:8px" src="static/images/que_img/mosquits1.jpg"/></div>
          <div><img style="margin-left:8px" src="static/images/que_img/mosquits2.jpg"/></div>
          <div><img style="margin-left:8px" src="static/images/que_img/mosquits3.jpg"/></div>
          </div>
         </div>
          <div class="article" style="margin-top:20px; background-color:#f5f5f5; padding:15px 30px 15px 30px!important;">
          <h2 style="color:#fc6400; margin-bottom:10px;"> Control de moscas</h2>
          <p> La base del tratamiento es la aplicación de un parasito natural de las moscas el cual parasita las pupas (forma en que la mosca se transforma de larva a adulto mediante la metamorfosis). El parásito deposita un huevo dentro de la pupa y así la larva del parasitoide se alimenta de la mosca haciendo inviable el desarrollo de la misma dando lugar al nacimiento de otro parásito.</p>
          <div class="img-art">
          <div><img style="margin-left:8px" src="static/images/que_img/mosques1.jpg"/></div>
          <div><img style="margin-left:8px" src="static/images/que_img/mosques2.jpg"/></div>
          <div><img style="margin-left:8px" src="static/images/que_img/mosques3.jpg"/></div>
          </div>
         </div>
          <div class="article" style="margin-top:20px; background-color:#f5f5f5; padding:15px 30px 15px 30px!important;">
          <h2 style="color:#fc6400; margin-bottom:10px">IGLU</h2>
          <p> Trampa de agua exterior para la captura de moscas</p>
          <div class="img-art">
          <div><img style="margin-left:8px" src="static/images/que_img/iglu1.jpg"/></div>
          <div><img style="margin-left:8px" src="static/images/que_img/iglu2.jpg"/></div>
          <div><img style="margin-left:8px" src="static/images/que_img/iglu3.jpg"/></div>
          </div>
        </div>
      </div>
    </div>
  </div>

<!-- PRODUCTES MODAL -->

  <div id="modalProductesNeteja" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
      <div class="modal-header">
      <span style="position:relative;left:20px"><i class="fa fa-shower"></i> Planes de limpieza y desinfección - Servicios</span><span class="close" style="position:relative;left:15px">&times;</span>
      </div>
      <div class="modal-body">
          <div class="article" style="margin-top:20px; background-color:#f5f5f5; padding:15px 30px 15px 30px!important;">
          <h2 style="height:85%;color:#fc6400; margin-bottom:10px">STERILTRUK-  Arco de desinfección para vehículos</h2>
          <p> Sistema de desinfección automático, pre montado. Doble anillo de tubo de zinc de 1’’, equipado con 20 aspersores distribuidos en el perímetro del mismo en vano. Polvorización fina. Dimensiones 3570 x 4820mm.</p>
          <div class="img-art">
          <div><img style="margin-left:8px" src="static/images/que_img/desinfeccio3.jpg"/></div>
          <div><img style="margin-left:8px" src="static/images/que_img/desinfeccio1.jpg"/></div>
          <div><img style="margin-left:8px" src="static/images/que_img/desinfeccio2.jpg"/></div>
          </div>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- PRODUCTES MODAL -->



</body>
</html>
