<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>WiseCorp | About</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="css/style.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="css/coin-slider.css" />
<script type="text/javascript" src="js/cufon-yui.js"></script>
<script type="text/javascript" src="js/cufon-titillium-250.js"></script>
<script type="text/javascript" src="js/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="js/script.js"></script>
<script type="text/javascript" src="js/coin-slider.min.js"></script>
</head>
<body>
<div class="main background">
  <div class="header">
    <div class="header_resize">
      <div class="logo">
        <a href="index.html"><img src="images/logo.png"></a> <span>Serveis de gestió sanitària i ambiental</span>
      </div>

      <div class="clr"></div>
      <div class="menu_nav">
        <ul>
          <li><a href="index.html"><span>Inici</span></a></li>
          <li class="active"><a href="qui_som.html"><span>Qui Som</span></a></li>
          <li><a href="que_fem.html"><span>Que fem</span></a></li>
          <li><a href="acces.html"><span>Accés</span></a></li>
          <li><a href="contacte.html"><span>Contacte</span></a></li>
        </ul>
      </div>
      <div class="clr"></div>
      <div class="clr"></div>
    </div>
  <div class="content">
    <div class="content_resize">
      <div class="mainbar">
        <div class="article">
          <h2><span>Qui Som</span></h2>
          <div class="clr"></div>
          <div class="clr"></div>
          <p style="margin-top:20px">A finals de 2003 neix, en una zona amb una gran importància per la seva indústria agroalimentaria com és la Plana de Vic, Vilamajó i Mir, l’embrió de l’actual Salut Ambiental SCP, una societat creada per biòlegs amb la intenció d’oferir serveis de gestió i assessorament en l’àmbit del medi ambient i la gestió sanitària de les empreses.</p>
          <p>Al desenvolupament de la tasca d’assessorament i gestió s’uneix una branca de l’empresa que va prenent cos al llarg dels anys: la del control de plagues i d’organismes no desitjats, una activitat que s’allunya dels sistemes de control tradicional, prenent com a eix d’actuació la lluita integrada i incorporant aspectes de lluita biològica en els seus processos de treball.</p>
        </div>
        <div class="article">
          <h2><span>Els Nostres Recursos</span></h2>
          <div class="clr"></div>
          <ol>
          <li>Professionals amb experiència tant en el sector sanitari com en la gestió de residus, amb formació específica per a desenvolupar-se en aquests àmbits, i amb les capacitacions oficials necessàries per a dur a terme aquestes tasques.</li>
          <li>Treball multidisciplinar, amb una xarxa de col·laboradors, professionals d’altres àmbits, que poden influir positivament en la nostra tasca: enginyers, especialistes en Dret Ambiental, col·laboracions amb Universitats i Laboratoris de Referència, etc.</li>
          <li>Una estreta col·laboració amb els nostres clients, que ens fa aprendre les característiques i problemàtiques de cada sector, i adaptar-nos a les variacions del dia a dia.</li>
          </ol>
        </div>
      </div>

      <div class="clr"></div>
    </div>
  </div>

  <div class="footer">
    <div class="footer_resize">
      <p class="lf">Copyright &copy; <a href="#">Domain Name</a>. All Rights Reserved</p>
      <p class="rf">Design by <a target="_blank" href="http://www.dreamtemplate.com/">DreamTemplate</a></p>
      <div style="clear:both;"></div>
    </div>
  </div>
</div>
</body>
</html>
