<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Salut Ambiental</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="static/css/style.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="static/css/coin-slider.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script type="text/javascript" src="static/js/cufon-yui.js"></script>
<script type="text/javascript" src="static/js/cufon-titillium-250.js"></script>
<script type="text/javascript" src="static/js/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="static/js/script.js"></script>
<script type="text/javascript" src="static/js/coin-slider.min.js"></script>
</head>
<body>
<div class="main background">
  <div class="header">
    <div class="header_resize">
      <div class="logo">
        <a href="index.html"><img src="static/images/logo.png"></a> <p>Serveis de gestió sanitària i ambiental</p>
      </div>
      <div class="clr"></div>
      <div class="menu_nav">
        <ul>
          <li><a href="/"><span>Inici</span></a></li>
          <li class="active"><a href="qui_som"><span>Qui Som</span></a></li>
          <li><a href="que_fem"><span>Que fem</span></a></li>
          <li><a href="acces"><span>Accés</span></a></li>
          <li><a href="contacte"><span>Contacte</span></a></li>
        </ul>
      </div>
      <div class="clr"></div>
      <div class="clr"></div>
    </div>
  <div class="content">
    <div class="content_resize">
      <div class="mainbar">
        <div class="article" style="margin-top:20px">
          <h2><span style="color:#fc6400"><i class="fa fa-envira" style="font-size:20px;color:green"></i> Qui Som</span></h2>
          <div class="clr"></div>
          <div class="clr"></div>
          <p style="margin-top:20px">A finals de 2003 neix, en una zona amb una gran importància per la seva indústria agroalimentaria com és la Plana de Vic, Vilamajó i Mir, l’embrió de l’actual Salut Ambiental SCP, una societat creada per biòlegs amb la intenció d’oferir serveis de gestió i assessorament en l’àmbit del medi ambient i la gestió sanitària de les empreses.</p>
          <p>Al desenvolupament de la tasca d’assessorament i gestió s’uneix una branca de l’empresa que va prenent cos al llarg dels anys: la del control de plagues i d’organismes no desitjats, una activitat que s’allunya dels sistemes de control tradicional, prenent com a eix d’actuació la lluita integrada i incorporant aspectes de lluita biològica en els seus processos de treball.</p>
        </div>
        <div class="article">
          <h2><span style="color:#fc6400"><i class="fa fa-envira" style="font-size:20px;color:green"></i> Els Nostres Recursos</span></h2>
          <div class="clr"></div>
          <ol>
          <li>Professionals amb experiència tant en el sector sanitari com en la gestió de residus, amb formació específica per a desenvolupar-se en aquests àmbits, i amb les capacitacions oficials necessàries per a dur a terme aquestes tasques.</li>
          <li>Treball multidisciplinar, amb una xarxa de col·laboradors, professionals d’altres àmbits, que poden influir positivament en la nostra tasca: enginyers, especialistes en Dret Ambiental, col·laboracions amb Universitats i Laboratoris de Referència, etc.</li>
          <li>Una estreta col·laboració amb els nostres clients, que ens fa aprendre les característiques i problemàtiques de cada sector, i adaptar-nos a les variacions del dia a dia.</li>
          </ol>
        </div>
        <div class="article" style="border-bottom:0px; margin-top:10px">
          <p style="color:#ff9900;">L’experiència acumulada, i aquests darrers anys on hem pogut desenvolupar el nostre projecte, han servit per a que <b>Salut Ambiental</b> sigui capaç d’adaptar a qualsevol tipus d’activitat un sistema de gestió de control d’organismes no desitjats, fusionant les necessitats dels nostres client, les directrius de l’administració i les exigències dels mercats on treballen.<p/>
      </div>
      </div>

    </div>
  </div>
</div>
  <div class="footer">
    <div class="footer_resize">
      <p style="text-algin:center"> Salut Ambiental, S.C.P. | C/Purgatori, 12 - P.I. La Gavarra | 08450 CENTELLES | Tel/fax: 93 881 37 60 | <a href="mailto:info@salutambiental.cat">info@salutambiental.cat</a></p>
      <div style="clear:both;"></div>
    </div>
  </div>
</body>
</html>
