<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Salut Ambiental</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="static/css/style.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="static/css/coin-slider.css" />
<link rel="shortcut icon" href="static/images/salut.ico" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script type="text/javascript" src="static/js/cufon-yui.js"></script>
<script type="text/javascript" src="static/js/cufon-titillium-250.js"></script>
<script type="text/javascript" src="static/js/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="static/js/script.js"></script>
<script type="text/javascript" src="static/js/coin-slider.min.js"></script>
</head>
<body>
<div class="main background">
  <div class="header">
    <div class="header_resize">
      <div class="container">
            <div class="drop-menu">
              <div class="select">
                <span>Castellano</span>
                <i class="fa fa-chevron-down"></i>
              </div>
              <input type="hidden" name="gender">
              <ul class="dropeddown">
                <li id="catala">Català</li>
                <li id="castellano">Castellano</li>
              </ul>
            </div>
      </div>
      <div class="logo">
       <a href="/inicio"><img src="static/images/logo.png"></a> <p>Servicios de gestión sanitaria y ambiental</p>
      </div>

      <div class="clr"></div>
      <div class="menu_nav">
        <ul>
          <li><a href="inicio"><span>Inicio</span></a></li>
          <li class="active"><a href="quienes_somos"><span>Quiénes somos</span></a></li>
          <li><a href="que_hacemos"><span>Qué hacemos</span></a></li>
          <li><a href="acceso"><span>Acceso</span></a></li>
          <li><a href="contacto"><span>Contacto</span></a></li>
        </ul>
      </div>
      <div class="clr"></div>
      <div class="clr"></div>
    </div>
  <div class="content">
    <div class="content_resize">
      <div class="mainbar">
        <div class="article" style="margin-top:20px">
          <h2><span style="color:#fc6400"><i class="fa fa-envira" style="font-size:20px;color:green"></i> Qui Som</span></h2>
          <div class="clr"></div>
          <div class="clr"></div>
          <p style="margin-top:20px">A finales de 2003 nace, en una zona de gran importancia por su industria agroalimentaria como es la Plana de Vic, Vilamajó y Mir, el embrión del actual Salud Ambiental SCP, una sociedad creada por biólogos con la intención de ofrecer servicios de gestión y asesoramiento en el ámbito del medio ambiente y la gestión sanitaria para empresas.</p>
          <p>Al desarrollo de la tarea de asesoramiento y gestión se une una rama de la empresa que va tomando forma a lo largo de los años: la del control de plagas y de organismos no deseados, una actividad que se aleja de los sistemas de control tradicionales, tomando como eje de actuación la lucha integrada e incorporando aspectos de lucha biológica en sus procesos de trabajo.</p>
        </div>
        <div class="article">
          <h2><span style="color:#fc6400"><i class="fa fa-envira" style="font-size:20px;color:green"></i> Nuestros Recursos</span></h2>
          <div class="clr"></div>
          <ol>
          <li>Profesionales con experiencia tanto en el sector sanitario como en la gestión de residuos, con formación específica para desarrollarse en estos ámbitos, y con las capacitaciones oficiales necesarias para llevar a cabo estas tareas.</li>
          <li>Trabajo multidisciplinar, con una red de colaboradores, profesionales de otros ámbitos, que pueden influir positivamente en nuestra tarea: ingenieros, especialistas en Derecho Ambiental, colaboraciones con Universidades y Laboratorios de Referencia, etc.</li>
          <li>Una estrecha colaboración con nuestros clientes, que nos ayuda a aprender las características y problemáticas de cada sector, y adaptarnos a las variaciones del día a día.</li>
          </ol>
        </div>
        <div class="article" style="border-bottom:0px; margin-top:10px">
          <p style="color:#ff9900;">La experiencia acumulada, y estos últimos 4 años donde hemos podido desarrollar nuestra proyecto, han servido para que <b>Salud Ambiental</b> sea capaz de adaptar a cualquier tipo de actividad un sistema de gestión de control de organismos no deseado, fusionando las necesidades de nuestros clientes, las directrices de la administración y las exigencias de los mercados en los que trabajamos.<p/>
      </div>
      </div>

    </div>
  </div>
</div>
  <div class="footer">
    <div class="footer_resize">
      <p style="text-algin:center"> Salut Ambiental, S.C.P. | C/Purgatori, 12 - P.I. La Gavarra | 08450 CENTELLES | Tel/fax: 93 881 37 60 | <a href="mailto:info@salutambiental.cat">info@salutambiental.cat</a></p>
      <div style="clear:both;"></div>
    </div>
  </div>
</body>
</html>
